<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Welcome to Crishna's personal website</h1>
    <p>Ruby on Rails app deployed on Heroku</p>
  </div>
</div>